* {
  box-sizing: border-box;
}

.app-cont {
  width: 100%;
  padding: 30px 50px;
}

.main-app {
  width: 100%;
  /* background-color: yellow; */
  /* height: 100vh; */
}

section {
  margin-bottom: 20px;
}

section .heading {
  margin-bottom: 15px;
  text-transform: uppercase;
}

section .img-para-cont {
  width: 100%;
  display: grid;
  /* grid-template-columns: 2.5fr 4fr; */
  grid-gap: 30px;
  align-items: flex-start;
}

.img-cont {
  width: 100%;
  border-radius: 20px;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
}

.para {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

.scroll-sect {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  height: 100%;
  margin-right: 30px;
  position: sticky;
  top: 0;
  z-index: 5;
}


.sidebar p {
  margin: 0px;
  margin-bottom: 10px;
}

.scroll-cont {
  width: 100%;
}

.scroll-heading-cont {
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* border-radius: 10px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
}

.scroll-heading-cont p {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  margin-right: 30px;
}

.scrollable-part {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.scroll-cont .img-cont {
  /* height: 100%; */
  width: 100%;
}